*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  position: sticky;

  & > ul {
    display: flex;

    & > li {
      margin-left: 20px;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;

  ul {
    display: flex;

    li {
      margin: 0 15px;
    }
  }
}
