*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --success: #2E8B57;
  --warning: #FF8C00;
  --danger: #DC143C;
  --info: #1E90FF;

  --grey-50: #F9FAFB;
  --grey-100: #F3F4F6;
  --grey-200: #E5E7EB;
  --grey-300: #D1D5DB;
  --grey-400: #9CA3AF;
  --grey-500: #6B7280;
  --grey-600: #4B5563;
  --grey-700: #374151;
  --grey-800: #1F2937;
  --grey-900: #111827;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--grey-800);
  color: var(--grey-100);
  position: fixed;
  width: 100%;
  bottom: 0;

  ul {
    display: flex;

    li {
      margin: 0 15px;
    }
  }
}

.link-highlighted {
  text-decoration: underline;
}

/* --- Navbar Grundlayout --- */
.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--grey-800);
  position: sticky;
  color: var(--grey-100);
}

/* Hauptlink / Logo */
.logo {
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin-right: auto;
}

/* Desktop Navigation */
.desktop-nav {
  display: flex;
  gap: 1.5rem;
}

/* Hamburger Button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--grey-100);
}

/* --- Fullscreen Mobile Menu --- */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: var(--grey-900);
  color: var(--grey-100);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 2000;
}

.mobile-menu.open {
  display: flex;
}

/* Close Button oben rechts */
.close-btn {
  position: absolute;
  top: 0;
  right: 1.8rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-100);
}

/* Links im Overlay */
.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu li {
  margin: 1rem 0;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.mobile-menu a {
  font-size: clamp(1.2rem, 7vw, 1.8rem);
  font-weight: bold;
}

/* --- RESPONSIVE --- */
@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
